|===
|Path|Required|Default|Format|Description

{{#parameters}}
|{{name}}
|{{^optional}}true{{/optional}}
|{{#default}}{{default}}{{/default}}
|{{#format}}{{format}}{{/format}}
|{{description}}
{{/parameters}}

|===