|===
|Path|Type|Required|Default|Format|Description

{{#fields}}
|{{path}}
|{{type}}
|{{^optional}}true{{/optional}}
|{{#default}}{{default}}{{/default}}
|{{#format}}{{format}}{{/format}}
|{{description}}
{{/fields}}

|===